body {
  font-family: 'Source Sans Pro', sans-serif;
}

hr {
  border: solid #eee;
  clear: both;
  border-width: 1px 0 0;
  height: 0;
  margin-bottom: .9em;
}

a:link, a:visited, a:active {
  color: #08c;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #005580;
  text-decoration: underline;
}

.screen {
  background: #f9f9f9;
}

pre {
  background: #eee;
  border: 1px solid #ddd;
  border-radius: 2px;
}

code {
  background: #eee;
}

.message {
  border: 1px solid #ddd;
  border-radius: 2px;
}

.message:focus, .message:hover {
  background: #f5f5f5;
}

/* -- suggest box */

.suggest-box {
  border: 1px solid #eee;
  border-radius: 2px;
}

/* avatar */

.avatar--profile {
  width: 7em;
  height: 7em;
  float: left;
  border-radius: 5px;
  margin-right: .5em;
}

.avatar--full {
  margin: .5em;
  width: 100%;
  border-radius: 5px;
}

.avatar--large {
  width: 10em;
  height: 10em;
  border-radius: 5px;
}

.avatar--thumbnail {
  width: 2.5em;
  height: 2.5em;
  float: left;
  margin-right: .5ex;
  border-radius: 5px;
}

.avatar--fullsize {
  width: 50%;
  border-radius: 5px;
}

.profile {
  padding: .5ex;
  overflow: auto;
}

.profile input {
  width: 100%;
}

.profile__info {
  margin-left: .5em;
}

input, textarea {
 border: 1px solid #ddd;
 border-radius: 2px;
 font-family: sans-serif;
 font-size: .9em;
 padding: .2em;
}


/* --- hypertabs ------- */

.hypertabs__tabs {
  border-radius 2px;
}

.hypertabs__tab {
  border: 1px solid #ddd;
  border-radius: 2px;
  background: linear-gradient(#fff, #eee);
}

.hypertabs__tab > a {
  color: #666;
  text-decoration: none;
  white-space: nowrap;
  font-size: .9em;
}

.hypertabs__tab:hover {
  background: linear-gradient(#eee, #ddd);
  color: #fff;
}

.hypertabs--selected {
  background: linear-gradient(#eee, #ddd);
  font-weight: bold;
}

/* progress bar */

button {
  font-size: .9em;
  background: #eee;
  background: #eee linear-gradient(#eee, #ccc);
  border: 1px solid #aaa;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-radius: 5px;
  color: #444;
  display: inline-block;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
  margin: .1em;
  padding-top: .2em;
  padding-left: .3em;
  padding-right: .3em;
  padding-bottom: .2em; 
}

button:hover, button:focus {
  background: #ddd;
  background: #ddd linear-gradient(#ddd, #aaa);
  border: 1px solid #888;
  border-top: 1px solid #aaa;
  border-left: 1px solid #aaa;
  color: #222;
}

.edit {
  margin-left: .6em;
  font-size: .8em;
}
